@import "./variable.scss";

.works {
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include mq() {
      width: 60%;
      padding-top: 120px;
    }
    &__work {
      margin: 0;
      width: 100%;
      height: auto;
      @include mq() {
        margin: 3px;
        width: calc(50% - 15px);
        position: relative;
        &:hover {
          background: black;
        }
      }

      &__text {
        display: none;
        @include mq() {
          display: block;
          visibility: hidden;
        }
        &__title {
          display: block;
          text-align: center;
          font-family: "Hind", sans-serif;
          font-size: 24px;
        }
        &__subtitle {
          display: block;
          text-align: center;
          font-family: "Lato", sans-serif;
          font-size: 14px;
        }
        @include mq() {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          height: auto;
        }
      }
      & img,
      video {
        width: 100%;
        @include mq() {
          &:hover {
            opacity: 0.7;
          }
          &:hover + .works__wrapper__work__text {
            visibility: visible;
          }
        }
      }
    }
  }
}
